@{
    ViewData["Title"] = "Filter";
}

<div class="drivinghero-image">
    <div class="hero-text">
        <h1 class="mt-2" style="font-size: 4.75rem;">Filter Incident Data</h1>
    </div>
</div>

<div class="bg-dark w-100 mb-0 py-3">
    <div class="container">
        <div class="d-flex justify-content-center mt-4">
            <div class="bg-white p-3 w-75" style="border: solid 5px #F28123; border-radius: .5rem;">
                <h3 class="text-center my-3">Filter Data To See Incidents</h3>
                <form method="post" class="form-group">
                    <div class="d-flex justify-content-center">
                        <div class="mt-3 px-4" style="display: grid; grid-template-columns: 1fr 2fr; grid-template-rows:auto; grid-row-gap: .5rem; grid-column-gap: 1rem;">



                            <label class="mr-3" for="route">Route</label>
                            <select name="route" class="form-control">
                                <option value="null">All</option>
                                @foreach (var t in ViewBag.route)
                                {
                                    <option value="@t">@t</option>
                                }
                            </select>

                            @*<label class="mr-3" for="milepoint">Milepoint</label>
                            <input type="number" name="milepoint" class="form-control" />
                            <br />*@

                            <label class="mr-3" for="main_road_name">Main Road Name</label>
                            <select name="main_road_name" class="form-control">
                                <option value="null">All</option>
                                @foreach (var t in ViewBag.main_road_name)
                                {
                                    <option value="@t">@t</option>
                                }
                            </select>


                            <label class="mr-3" for="city">City</label>
                            <select name="city" class="form-control">
                                <option value="null">All</option>
                                @foreach (var t in ViewBag.city)
                                {
                                    <option value="@t">@t</option>
                                }
                            </select>

                            <label class="mr-3" for="county_name">County Name</label>
                            <select name="county_name" class="form-control">
                                <option value="null">All</option>
                                @foreach (var t in ViewBag.county_name)
                                {
                                    <option value="@t">@t</option>
                                }
                            </select>

                            <label class="mr-3" for="crash_severity_id">Crash severity</label>
                            <select name="crash_severity_id" class="form-control">
                                <option value="null">All</option>
                                @foreach (var t in ViewBag.crash_severity_id)
                                {
                                    <option value="@t">@t</option>
                                }
                            </select>
                            <label class="mr-3" for="work_zone_related">Work Zone Related</label>
                            <select name="work_zone_related" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="pedestrian_involved">Pedestrian Involved</label>
                            <select name="pedestrian_involved" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="bicyclist_involved">Bicyclist Involved</label>
                            <select name="bicyclist_involved" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="motorcycle_involved">Motorcycle Involved</label>
                            <select name="motorcycle_involved" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="improper_restraint">Improper Restraint</label>
                            <select name="improper_restraint" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="unrestrained">Unrestrained</label>
                            <select name="unrestrained" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="dui">Driving Under the Influence</label>
                            <select name="dui" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="intersection_related">Intersection Related</label>
                            <select name="intersection_related" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="wild_animal_related">Wild Animal Related</label>
                            <select name="wild_animal_related" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="domestic_animal_related">Domestic Animal Related </label>
                            <select name="domestic_animal_related" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="overturn_rollover">Overturn Rollover </label>
                            <select name="overturn_rollover" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="commercial_motor_veh_involved">Commercial Motor Vehicle Involved </label>
                            <select name="commercial_motor_veh_involved" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="teenage_driver_involved">Teenage Driver Involved</label>
                            <select name="teenage_driver_involved" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="older_driver_involved">Older Driver Involved</label>
                            <select name="older_driver_involved" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="night_dark_condition">Night Dark Condition</label>
                            <select name="night_dark_condition" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="single_vehicle">Single Vehicle</label>
                            <select name="single_vehicle" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="distracted_driving">Distracted Driving</label>
                            <select name="distracted_driving" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="drowsy_driving">Drowsy Driving</label>
                            <select name="drowsy_driving" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>

                            <label class="mr-3" for="roadway_departure">Roadway Departure</label>
                            <select name="roadway_departure" class="form-control">
                                <option value="null">Any</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>


                        </div>
                    </div>

                    <div class="d-flex justify-content-center my-3">
                        <button class="btn boxed-btn mr-2" type="submit">Filter Incidents</button>
                        <a class="btn dark-btn" asp-action="Filter" asp-controller="Home">Clear</a>
                    </div>
                </form>

                
            </div>
        </div>
    </div>
</div>