@page "/admin/incidents/details/{id:long}"

    <div class="container">
        <h3 class="bg-info text-white text-center p-1">Details</h3>

        <table class="table table-sm table-bordered table-striped">

            <tbody>
                <tr><th>Crash ID:</th><td>@crash_Data.crash_ID</td></tr>
                <tr><th>Date and Time:</th><td>@crash_Data.crash_datetime</td></tr>
                <tr><th>Route:</th><td>@crash_Data.route</td></tr>
                <tr><th>Milepoint:</th><td>@crash_Data.milepoint</td></tr>
                <tr><th>Main Road Name:</th><td>@crash_Data.main_road_name</td></tr>
                <tr><th>Latitude:</th><td>@crash_Data.lat_utm_y</td></tr>
                <tr><th>Longitude:</th><td>@crash_Data.long_utm_x</td></tr>
                <tr><th>City:</th><td>@crash_Data.city</td></tr>
                <tr><th>County Name:</th><td>@crash_Data.county_name</td></tr>
                <tr><th>Crash Severity:</th><td>@crash_Data.crash_severity_id</td></tr>
                <tr><th>Work Zone Related:</th><td>@crash_Data.work_zone_related</td></tr>
                <tr><th>Pedestrian Involved:</th><td>@crash_Data.pedestrian_involved</td></tr>
                <tr><th>Bicyclist Involved:</th><td>@crash_Data.bicyclist_involved</td></tr>
                <tr><th>Motorcycle Involved:</th><td>@crash_Data.motorcycle_involved</td></tr>
                <tr><th>Improper Restraint:</th><td>@crash_Data.improper_restraint</td></tr>
                <tr><th>Unrestrained:</th><td>@crash_Data.unrestrained</td></tr>
                <tr><th>DUI:</th><td>@crash_Data.dui</td></tr>
                <tr><th>Intersection Related:</th><td>@crash_Data.intersection_related</td></tr>
                <tr><th>Wild Animal Related:</th><td>@crash_Data.wild_animal_related</td></tr>
                <tr><th>Domestic Animal Related:</th><td>@crash_Data.domestic_animal_related</td></tr>
                <tr><th>Overturn Rollover:</th><td>@crash_Data.overturn_rollover</td></tr>
                <tr><th>Commercial Motor Vehicle Involved:</th><td>@crash_Data.commercial_motor_veh_involved</td></tr>
                <tr><th>Teenage Driver Involved:</th><td>@crash_Data.teenage_driver_involved</td></tr>
                <tr><th>Older Driver Involved:</th><td>@crash_Data.older_driver_involved</td></tr>
                <tr><th>Night Dark Condition:</th><td>@crash_Data.night_dark_condition</td></tr>
                <tr><th>Single Vehicle:</th><td>@crash_Data.single_vehicle</td></tr>
                <tr><th>Distracted Driving:</th><td>@crash_Data.distracted_driving</td></tr>
                <tr><th>Drowsy Driving:</th><td>@crash_Data.drowsy_driving</td></tr>
                <tr><th>Roadway Departure:</th><td>@crash_Data.roadway_departure</td></tr>
            </tbody>

        </table>
        <div class="d-flex justify-content-center">
            <NavLink class="btn btn-warning mr-2" href="@EditUrl">Edit</NavLink>
            <NavLink class="btn btn-secondary" href="/admin">Back</NavLink>
        </div>
    </div>

    @code {
        [Inject]
        public ICrashRepository repo { get; set; }

        [Parameter]
        public long Id { get; set; }

        public crash_data crash_Data { get; set; }

        protected override void OnParametersSet()
        {
            crash_Data = repo.Crash_Data.FirstOrDefault(x => x.crash_ID == Id);
        }

        public string EditUrl => $"/admin/incidents/edit/{crash_Data.crash_ID}";
    }