@page "/admin/incidents/edit/{id:long}"
@page "/admin/incidents/create"
@inherits OwningComponentBase<ICrashRepository>

<style>
    div.validation-message {
        color: rgb(220,53,69);
        font-weight: 500;
        grid-column: 1/ span 2;
    }

    button.btn-lightorange {
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-color: #F29A2E;
        color: #fff;
        padding: 10px 20px;
        border-radius: 50px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

        button.btn-lightorange:hover {
            background-color: #051922;
            color: #F28123;
        }

    .bg-lightorange {
        background-color: #F29A2E;
    }

    .bg-darkorange {
        background-color: #F28123;
    }

    button.btn-darkorange {
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-color: #F28123;
        color: #fff;
        padding: 10px 20px;
        border-radius: 50px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

        button.btn-darkorange:hover {
            background-color: #051922;
            color: #F28123;
        }
    a.dark-btn {
        border-radius: 50px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        color: #051922;
        border: 2px solid #051922;
        padding: 10px 20px;
    }

        a.dark-btn:hover {
            background-color: #051922 !important;
            color: #fff;
        }
</style>
<h3 class="bg-@ThemeColor text-white text-center p-3">@TitleText an Incident</h3>
<div class="container">

    <EditForm Model="b" OnValidSubmit="SaveCrashData">

        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="mx-5" style="display: grid; grid-template-columns: .5fr .8fr; grid-template-rows:auto; grid-row-gap: .5rem;">
            <label>Crash Id:</label>
            <input class="form-control" disabled value="@b.crash_ID" />
            <label>Date and Time:</label>
            <ValidationMessage For="@(() => b.crash_datetime)"></ValidationMessage>
            <input class="form-control" @bind="b.crash_datetime" @bind:format="yyyy-MM-ddTHH:mm" type="datetime-local" />
            <label>Route:</label>
            <ValidationMessage For="@(() => b.route)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="b.route"></InputNumber>
            <label>Milepoint:</label>
            <ValidationMessage For="@(() => b.milepoint)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="b.milepoint"></InputNumber>
            <label>Main Road Name:</label>
            <ValidationMessage For="@(() => b.main_road_name)"></ValidationMessage>
            <InputText class="form-control" @bind-Value="b.main_road_name"></InputText>
            <label>Latitude:</label>
            <ValidationMessage For="@(() => b.lat_utm_y)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="b.lat_utm_y"></InputNumber>
            <label>Longitude:</label>
            <ValidationMessage For="@(() => b.long_utm_x)"></ValidationMessage>
            <InputNumber class="form-control" @bind-Value="b.long_utm_x"></InputNumber>
            <label>City:</label>
            <ValidationMessage For="@(() => b.city)"></ValidationMessage>
            <InputText class="form-control" @bind-Value="b.city"></InputText>
            <label>County Name:</label>
            <ValidationMessage For="@(() => b.county_name)"></ValidationMessage>
            <InputText class="form-control" @bind-Value="b.county_name"></InputText>
            <div>
                <label>Crash Severity:</label>
                <div style="font-size: .8rem; color: gray;">This is a rating from 1-5. 1 being no injury 5 being fatal.</div>
            </div>
            <InputNumber class="form-control" @bind-Value="b.crash_severity_id"></InputNumber>
            <ValidationMessage For="@(() => b.crash_severity_id)"></ValidationMessage>
        </div>
        <div class="d-flex justify-content-center">
            <div class="ml-5 mt-3" style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows:auto; grid-row-gap: .5rem;">
                <div style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto; ">
                    <label>Work Zone Related:</label>
                    <ValidationMessage For="@(() => b.work_zone_related)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.work_zone_related"></InputCheckbox>
                    <label>Pedestrian Involved:</label>
                    <ValidationMessage For="@(() => b.pedestrian_involved)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.pedestrian_involved"></InputCheckbox>
                    <label>Bicyclist Involved:</label>
                    <ValidationMessage For="@(() => b.bicyclist_involved)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.bicyclist_involved"></InputCheckbox>
                    <label>Motorcycle Involved:</label>
                    <ValidationMessage For="@(() => b.motorcycle_involved)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.motorcycle_involved"></InputCheckbox>
                    <label>Improper Restraint:</label>
                    <ValidationMessage For="@(() => b.improper_restraint)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.improper_restraint"></InputCheckbox>
                    <label>Unrestrained:</label>
                    <ValidationMessage For="@(() => b.unrestrained)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.unrestrained"></InputCheckbox>
                    <label>DUI:</label>
                    <ValidationMessage For="@(() => b.dui)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.dui"></InputCheckbox>
                    <label>Intersection Related:</label>
                    <ValidationMessage For="@(() => b.intersection_related)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.intersection_related"></InputCheckbox>
                    <label>Wild Animal Related:</label>
                    <ValidationMessage For="@(() => b.wild_animal_related)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.wild_animal_related"></InputCheckbox>
                </div>
                <div style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto; ">
                    <label>Domestic Animal Related:</label>
                    <ValidationMessage For="@(() => b.domestic_animal_related)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.domestic_animal_related"></InputCheckbox>

                    <label>Overturn Rollover:</label>
                    <ValidationMessage For="@(() => b.overturn_rollover)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.overturn_rollover"></InputCheckbox>
                    <label>Commercial Motor Vehicle Involved:</label>
                    <ValidationMessage For="@(() => b.commercial_motor_veh_involved)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.commercial_motor_veh_involved"></InputCheckbox>
                    <label>Teenage Driver Involved:</label>
                    <ValidationMessage For="@(() => b.teenage_driver_involved)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.teenage_driver_involved"></InputCheckbox>
                    <label>Older Driver Involved:</label>
                    <ValidationMessage For="@(() => b.older_driver_involved)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.older_driver_involved"></InputCheckbox>
                    <label>Night Dark Condition:</label>
                    <ValidationMessage For="@(() => b.night_dark_condition)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.night_dark_condition"></InputCheckbox>
                    <label>Single Vehicle:</label>
                    <ValidationMessage For="@(() => b.single_vehicle)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.single_vehicle"></InputCheckbox>

                    <label>Distracted Driving:</label>
                    <ValidationMessage For="@(() => b.distracted_driving)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.distracted_driving"></InputCheckbox>

                    <label>Drowsy Driving:</label>
                    <ValidationMessage For="@(() => b.drowsy_driving)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.drowsy_driving"></InputCheckbox>

                    <label>Roadway Departure:</label>
                    <ValidationMessage For="@(() => b.roadway_departure)"></ValidationMessage>
                    <InputCheckbox style="align-self: center;" @bind-Value="b.roadway_departure"></InputCheckbox>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center my-3">
            <button type="submit" class="btn btn-@ThemeColor mr-2">Save</button>
            <NavLink class="btn dark-btn" href="/admin">Cancel</NavLink>
        </div>

    </EditForm>
</div>
@code {
    [Parameter]
    public long Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "lightorange" : "darkorange";
    public string TitleText => Id == 0 ? "Create" : "Edit";

    public crash_data b { get; set; } = new crash_data();

    public ICrashRepository repo => Service;

    protected override void OnParametersSet()
    {
        if (Id != 0)
        {
            b = repo.Crash_Data.FirstOrDefault(x => x.crash_ID == Id);
        }
    }

    public void SaveCrashData()
    {
        if (Id == 0)
        {
            repo.CreateCrashData(b);
        }
        else
        {
            repo.SaveCrashData(b);
        }

        NavManager.NavigateTo("/admin");
    }

    [Inject]
    public NavigationManager NavManager { get; set; }
}