@{
}
@using System.Reflection;
@model crash_data

@{ string results = "";

    foreach (PropertyInfo prop in typeof(crash_data).GetProperties())
    {
        if (prop.PropertyType == typeof(bool))
        {
            if(Convert.ToBoolean(prop.GetValue(Model, null)) == true)
            {
                var temp = prop.Name.Replace("_", " ");
                temp = char.ToUpper(temp[0]) + temp.Substring(1);
                results += temp + ", ";
           }
        }
    }
    results = results.Remove(results.Length - 2);
}
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="d-flex justify-content-between align-items-center headerpart">
                    <h4 class="mb-0 ml-3 text-white">@Model.crash_datetime</h4> 
                    <h4 class="mb-0 mr-3 text-white">Severity: @Model.crash_severity_id</h4>
                </div>
                <h5 class="mt-4 mx-2">Tags: @results</h5>
                

            </div>
            <div class="flip-card-back">
                <h3 class="mt-2">Incident Details</h3>
                <ul>
                    <li>Route: @Model.route</li>
                    <li>Road: @Model.main_road_name</li>
                    <li>City: @Model.city</li>
                    <li>County: @Model.county_name</li>
                </ul>
            </div>
        </div>
    </div>

<br />  